---
import { cn } from '../lib/utils';

interface Props {
  class?: string;
  href?: string;
  id?: string;
  ariaLabel?: string;
}

const { class: classList, href, id, ariaLabel } = Astro.props;
---

{
  href ? (
    <a
      class={cn(
        'rounded p-2 transition-colors hover:bg-neutral-200 active:bg-neutral-300 dark:hover:bg-neutral-800 dark:active:bg-neutral-700',
        classList,
      )}
      href={href}
      aria-label={ariaLabel}
      target="_blank"
      rel="noopener noreferrer"
      id={id}
    >
      <slot />
    </a>
  ) : (
    <button
      class={cn(
        'rounded p-2 transition-colors hover:bg-neutral-200 active:bg-neutral-300 dark:hover:bg-neutral-800 dark:active:bg-neutral-700',
        classList,
      )}
      id={id}
      aria-label={ariaLabel}
    >
      <slot />
    </button>
  )
}
