---
import { formatDate } from '../scripts/date';
const { post } = Astro.props;
const tags = post.frontmatter.tags?.slice(0, 2) ?? [];
---

<li>
  <a
    class="flex h-full justify-between gap-4 p-4 transition hover:bg-neutral-200 xsm:flex-col sm:rounded lg:px-5 lg:py-5 hover:dark:bg-neutral-800"
    href={post.url}
  >
    <div>
      <div
        class="dot-separated flex flex-wrap text-neutral-500 dark:text-neutral-400"
      >
        {tags.map((tag) => <div class="inline-flex text-sm ">{tag}</div>)}
        <time class="text-sm" datetime="{formatDate(post.frontmatter.pubDate)}">
          {formatDate(post.frontmatter.pubDate)}
        </time>
      </div>
      <div class="my-1 text-lg font-bold sm:text-xl dark:text-white">
        {post.frontmatter.title}
      </div>
      {
        post.frontmatter.description && (
          <div class="line-clamp-1 text-neutral-600 dark:text-neutral-300">
            {post.frontmatter.description}
          </div>
        )
      }
    </div>
    {
      post.frontmatter.image && (
        <img
          class="aspect-square w-28 rounded xsm:aspect-auto xsm:w-full md:aspect-[1.91/1] md:w-56"
          src={post.frontmatter.image.src}
          alt={post.frontmatter.image.alt}
        />
      )
    }
  </a>
</li>
