---
import { formatDate } from '../scripts/date';
const { post } = Astro.props;
---

<li class="rounded px-4 py-3 transition hover:bg-gray-100">
  <a href={post.url}>
    <time
      class="text-gray-600"
      datetime="{formatDate(post.frontmatter.pubDate)}"
    >
      {formatDate(post.frontmatter.pubDate)}
    </time>
    <div class="text-lg font-bold sm:text-xl">
      {post.frontmatter.title}
    </div>
    <div class="flex gap-x-4">
      {
        post.frontmatter.tags.map((tag: string) => (
          <a href={`/tags/${tag}`}>{tag}</a>
        ))
      }
    </div>
  </a>
</li>
