---
import Header from '../components/Header.astro';
import config from '../config.json';
import '../styles/global.css';
import SpeedInsights from '@vercel/speed-insights/astro';
const { pageTitle, ogimage, description } = Astro.props;
---

<html lang="ja">
  <head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/ fb# article: http://ogp.me/ns/article#"
  >
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} — {config.siteName}</title>
    <SpeedInsights />
    <!-- og -->
    <meta property="og:site_name" content={config.siteName} />
    <meta
      property="og:title"
      content={pageTitle
        ? pageTitle + ' — ' + config.siteName
        : config.siteName}
    />
    <meta property="og:type" content="article" />
    <meta property="og:url" content={Astro.url} />
    <meta
      property="og:description"
      content={description ? description : config.description}
    />
    {ogimage && <meta property="og:image" content={config.url + ogimage} />}
    <meta property="og:locale" content="ja-JP" />
    <!-- Google Analytics -->
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-8ZCMEEKWF9"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-8ZCMEEKWF9');
    </script>
  </head>
  <body class="bg-neutral-100 dark:bg-neutral-900">
    <Header />
    <slot />
  </body>
</html>
