---
import Header from '../components/Header.astro';
import config from '../config.json';
import '../styles/global.css';
import SpeedInsights from '@vercel/speed-insights/astro';
const { pageTitle, thumbnail } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} — {config.siteName}</title>
    <SpeedInsights />
    <!-- og -->
    <meta property="og:site_name" content={config.siteName} />
    {pageTitle && <meta property="og:title" content={pageTitle} />}
    <meta property="og:url" content={Astro.url} />
    {thumbnail && <meta property="og:image" content={thumbnail} />}
  </head>
  <body class="bg-neutral-100 dark:bg-neutral-900">
    <Header />
    <slot />
  </body>
</html>
