---
import ProseArticleLayout from './ProseArticleLayout.astro';
const { frontmatter } = Astro.props;
import { formatDate } from '../scripts/date';
const pubDate = formatDate(frontmatter.pubDate);
---

<ProseArticleLayout
  pageTitle={frontmatter.title}
  ogimage={frontmatter.ogimage && frontmatter.ogimage.src}
  description={frontmatter.description}
>
  <div
    class="dot-separated flex list-none flex-wrap justify-center p-0 text-base font-bold uppercase text-neutral-500"
  >
    {
      frontmatter.tags.map((tag: string) => (
        <a
          href={`/tags/${tag}`}
          class="inline-flex font-bold text-current no-underline"
        >
          {tag}
        </a>
      ))
    }
    <time datetime={pubDate}>
      {pubDate}
    </time>
  </div>
  <div class="text-center"></div>
  <h1>
    {frontmatter.title}
  </h1>
  {
    frontmatter.image && (
      <img
        class="rounded"
        src={frontmatter.image.src}
        alt={frontmatter.image.alt}
      />
    )
  }
  <p class="text-left">
    {frontmatter.description}
  </p>
  <slot />
</ProseArticleLayout>
