---
import { Icon } from 'astro-icon/components';
import 'rehype-callouts/theme/github';
import { formatDate } from '../scripts/date';
import ProseArticleLayout from './ProseArticleLayout.astro';
const { frontmatter } = Astro.props;
const pubDate = formatDate(frontmatter.pubDate);
const updatedDate = formatDate(frontmatter.updatedDate);
---

<style is:global>
  .callout-content {
    line-height: 1.75;
  }
  .callout[data-callout='warning'] {
    .callout-title-icon svg {
      fill: unset;
    }
  }
  @media (prefers-color-scheme: dark) {
    .callout {
      border-left-color: var(--rc-color-dark, var(--rc-color-default));
    }

    .callout-title {
      color: var(--rc-color-dark, var(--rc-color-default));
    }
  }
</style>
<ProseArticleLayout
  pageTitle={frontmatter.title}
  ogimage={frontmatter.ogimage && frontmatter.ogimage.src}
  description={frontmatter.description}
>
  <div
    class="dot-separated flex list-none flex-wrap justify-center p-0 text-base font-bold text-neutral-500 uppercase"
  >
    {
      frontmatter.tags.map((tag: string) => (
        <a
          href={`/tags/${tag}`}
          class="inline-flex font-bold text-current no-underline"
        >
          {tag}
        </a>
      ))
    }
    {
      pubDate && (
        <div>
          <Icon name="fa6-solid:feather" class="mb-[.12em] inline text-sm" />
          <time datetime={pubDate}>{pubDate}</time>
        </div>
      )
    }
    {
      updatedDate && (
        <div>
          <Icon name="fa6-solid:rotate" class="mb-[.12em] inline text-sm" />
          <time datetime={updatedDate}>{updatedDate}</time>
        </div>
      )
    }
  </div>
  <h1>
    {frontmatter.title}
  </h1>
  {
    frontmatter.image && (
      <img
        class="rounded"
        src={frontmatter.image.src}
        alt={frontmatter.image.alt}
      />
    )
  }
  {
    frontmatter.description && (
      <p class="rounded bg-neutral-100 px-4 py-3 text-left dark:bg-neutral-800">
        {frontmatter.description}
      </p>
    )
  }
  
  <div class="mobile-toc lg:hidden">
    <h3>格活</h3>
    <div id="mobile-toc-content"></div>
  </div>
  
  <slot />
  
  <div class="desktop-toc" slot="toc">
    <h3>格活</h3>
    <div id="desktop-toc-content"></div>
  </div>
</ProseArticleLayout>
