---
import { Icon } from 'astro-icon/components';

import ProseArticleLayout from 'src/layouts/ProseArticleLayout.astro';
import { formatDate } from 'src/scripts/date';
import { type Frontmatter } from 'src/types/Post';

interface Props {
  frontmatter: Frontmatter;
}
const { frontmatter } = Astro.props;

const pubDate = formatDate(frontmatter.pubDate);
const updatedDate = formatDate(frontmatter.updatedDate);
---

<ProseArticleLayout
  pageTitle={frontmatter.title}
  ogimage={frontmatter.ogimage && frontmatter.ogimage.src}
  description={frontmatter.description}
>
  <div
    class="dot-separated flex list-none flex-wrap justify-center p-0 text-base font-bold uppercase text-neutral-500"
  >
    {
      frontmatter.tags.map((tag) => (
        <a
          href={`/tags/${tag}`}
          class="inline-flex font-bold text-current no-underline"
        >
          {tag}
        </a>
      ))
    }
    {
      pubDate && (
        <div>
          <Icon name="fa6-solid:feather" class="mb-[.12em] inline text-sm" />
          <time datetime={pubDate}>{pubDate}</time>
        </div>
      )
    }
    {
      updatedDate && (
        <div>
          <Icon name="fa6-solid:rotate" class="mb-[.12em] inline text-sm" />
          <time datetime={updatedDate}>{updatedDate}</time>
        </div>
      )
    }
  </div>
  <h1>
    {frontmatter.title}
  </h1>
  {
    frontmatter.image && (
      <img
        class="rounded"
        src={frontmatter.image.src}
        alt={frontmatter.image.alt}
      />
    )
  }
  {
    frontmatter.description && (
      <p class="rounded bg-neutral-100 px-4 py-3 text-left dark:bg-neutral-800">
        {frontmatter.description}
      </p>
    )
  }
  <slot />
</ProseArticleLayout>
