---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
import { formatDate } from '../scripts/date';
const pubDate = formatDate(frontmatter.pubDate);
---

<style>
  ul.dot-separated {
    li {
      &::after {
        content: '•';
        margin: 0 0.5em;
      }
      &:last-child::after {
        content: '';
        margin: 0;
      }
    }
  }
</style>

<Layout pageTitle={frontmatter.title}>
  <div class="mb-16 mt-10 flex w-full justify-center px-4">
    <article class="prose w-full dark:prose-invert">
      <ul
        class="dot-separated flex list-none justify-center p-0 text-base font-bold uppercase text-gray-500"
      >
        {
          frontmatter.tags.map((tag: string) => (
            <li class="p-0">
              <a
                href={`/tags/${tag}`}
                class="font-bold text-current no-underline"
              >
                {tag}
              </a>
            </li>
          ))
        }
        <li class="p-0">
          <time datetime={pubDate}>
            {pubDate}
          </time>
        </li>
      </ul>
      <div class="text-center"></div>
      <h1 class="mb-20 mt-6 text-center text-2xl">{frontmatter.title}</h1>
      <slot />
    </article>
  </div>
</Layout>
