---
import BaseLayout from './BaseLayout.astro';
const { frontmatter, compiledContent } = Astro.props;
import { formatDate } from '../scripts/date';
const pubDate = formatDate(frontmatter.pubDate);
---

<BaseLayout
  pageTitle={frontmatter.title}
  thumbnail={frontmatter.image && frontmatter.image.src}
  description={frontmatter.description}
>
  <div class="mb-16 mt-10 flex w-full justify-center px-4">
    <article class="prose prose-neutral w-full dark:prose-invert">
      <div
        class="dot-separated flex list-none flex-wrap justify-center p-0 text-base font-bold uppercase text-neutral-500"
      >
        {
          frontmatter.tags.map((tag: string) => (
            <a
              href={`/tags/${tag}`}
              class="inline-flex font-bold text-current no-underline"
            >
              {tag}
            </a>
          ))
        }
        <time datetime={pubDate}>
          {pubDate}
        </time>
      </div>
      <div class="text-center"></div>
      <h1 class="mb-10 mt-6 text-center text-2xl">{frontmatter.title}</h1>
      {
        frontmatter.image && (
          <img
            class="rounded"
            src={frontmatter.image.src}
            alt={frontmatter.image.alt}
          />
        )
      }
      <p class="text-left">
        {frontmatter.description}
      </p>
      <hr />
      <slot />
      <hr />
    </article>
  </div>
</BaseLayout>
